 @import url('https://fonts.googleapis.com/css?family=Raleway');

html, 
body {
height: 100%;
}

body {
	background:url("../images/plant-wallpaper-railway-rails.jpg");
	color:#efefef;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x:hidden;
    font-family: 'Raleway', sans-serif;
}

th {
	font-weight: 500;
	text-transform: uppercase;
}

.jumbotron h1 {
	margin-bottom: 0;
	font-size: 55px;
}

.jumbotron h3 {
	margin-top: 5px;
	font-size:25px;
	color:#838383;
	font-style: italic;
}

.jumbotron, .panel {
    background:rgba(0,0,0,0.8);
}

.jumbotron {
	padding: 10px 0 20px;
	margin-bottom: 20px;
}

.panel-primary > .panel-heading {
	background-color: #3F7D8B;
	border-color:black;
}

.form-control {
	color:white;
}

.panel-primary {
    border-color:black;
}

.panel-heading {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding:8px 0;
}

.panel {
	margin-bottom: 10px;
}

.table {
	font-weight: 500;
	margin: 10px 0;
}

label {
	font-size: 16px;
	color:#efefef;
	margin-top: 5px;
	font-weight: 500;
}

input {font-family: "Helvetica", sans-serif}

.form-control {
	background-color: black;
}

form {
	width:70%;
	margin:10px auto;
}

.btn {
	background-color:#bf431d;
	border:0;
	text-transform: uppercase;
	font-size: 18px;
	width:150px;
	display: block;
	margin: 20px auto 30px;
}

.btn:hover {
	background-color:#ac3714;
}